{% extends 'base.html.twig' %}

{% block title %}Apartment index{% endblock %}

{% block body %}
    <h1>Apartments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Floor</th>
                <th>Rooms</th>
                <th>Elevator</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apartment in apartments %}
            <tr>
                <td>{{ apartment.id }}</td>
                <td>{{ apartment.address }}</td>
                <td>{{ apartment.floor }}</td>
                <td>{{ apartment.rooms }}</td>
                <td>{{ apartment.elevator ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('apartment_show', {'id': apartment.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('apartment_edit', {'id': apartment.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apartment_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
