{% extends 'base.html.twig' %}

{% block title %}New Apartment{% endblock %}

{% block body %}
    <h1>Create new Apartment</h1>

    <a href="{{ path('apartment_index') }}" class="btn btn-secondary">< back to list</a>

    {{ include('apartment/_form.html.twig') }}
{% endblock %}
