{% extends 'base.html.twig' %}

{% block title %}Apartment{% endblock %}

{% block body %}
    <h1>Apartment</h1>

    <a href="{{ path('apartment_index') }}" class="btn btn-secondary">< back to list</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apartment.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ apartment.address }}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td>{{ apartment.floor }}</td>
            </tr>
            <tr>
                <th>Rooms</th>
                <td>{{ apartment.rooms }}</td>
            </tr>
            <tr>
                <th>Elevator</th>
                <td>{{ apartment.elevator ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('apartment_edit', {'id': apartment.id}) }}" class="btn btn-primary">edit</a>

    {{ include('apartment/_delete_form.html.twig') }}
{% endblock %}
